.popup {
  position  : fixed;
  z-index   : 1000;
  top       : 0;
  right     : 0;
  bottom    : 0;
  left      : 0;
  display   : none;
  height    : 100vh;
  margin    : auto;
  padding   : 0;
  background: rgba(0, 0, 0, 0.8);

  &__container {
    position         : absolute;
    top              : 50%;
    left             : 50%;
    overflow-y       : auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform    : translate(-50%, -50%);
    transform        : translate(-50%, -50%);

    width     : calc(100% - 80px);
    max-width : 1250px;
    max-height: calc(100vh - 150px);

    background: transparent;
    padding   : 0;

    &--form {
      max-width: 708px;

      @media screen and (max-width: 960px) {
        max-width: 615px;
      }
    }

    @media screen and (max-width: 1250px) {
      max-height: calc(100vh - 80px);
    }

    @media screen and (max-width: 960px) {
      width     : calc(100% - 40px);
      max-height: calc(100vh - 40px);
    }

    @media screen and (max-width: 670px) {
      max-width : 90%;
      max-height: 90%;
    }

  }

  &__inner {
    height   : 100%;
    position : relative;
    max-width: 100%;
    margin   : 0 auto;

    background   : #ffffff;
    // padding   : 50px 55px;
    padding      : 100px 42px 64px;

    border-radius: 12px;

    @media screen and (max-width: 670px) {
      // padding: 35px 20px;
      padding: 54px 24px 54px;
    }
  }

  &__close {
    display        : block;
    width          : 26px;
    height         : 26px;
    position       : absolute;
    top            : 20px;
    right          : 20px;
    background-size: contain;
    cursor         : pointer;
    z-index        : 5;
    transition     : all 0.5s;

    svg {
      position: absolute;
      left    : 0;
      top     : 0;

      display: block;
      width  : 100%;
      height : 100%;
    }

    @media screen and (max-width: 670px) {
      top  : 15px;
      right: 15px;

      width : 23px;
      height: 23px;
    }

    &:hover {
      transform: rotate(360deg);
    }
  }

}

.popup__form {
  display     : block;
  margin      : auto;
  // max-width: 350px;

  .feedback-form__for-input {
    padding-bottom: 10px;
  }
}

.popup__form-row {
  justify-content: center;
}

.popup__form-checkboxes {
  max-width: 340px;
  margin   : auto;
}

.popup__title {
  font-size        : 40px;
  line-height      : 1;
  font-weight      : 700;
  padding-bottom   : 24px;
  // text-transform: uppercase;

  @media screen and (max-width: 960px) {
    font-size: 36px;
  }

  @media screen and (max-width: 670px) {
    font-size: 31px;
  }
}

.popup__text {
  font-size     : 24px;
  line-height   : 1.4;
  text-align    : center;
  padding-bottom: 40px;
  max-width     : 531px;
  margin        : auto;

  @media screen and (max-width: 960px) {
    font-size: 20px;
  }

  @media screen and (max-width: 670px) {
    font-size     : 16px;
    padding-bottom: 20px;
  }
}