.services {
    margin-top: -140px;
    padding-top: 140px;
    background: #F6F6F6;    
    padding-bottom: 140px;

    @media screen and (max-width: 960px) {
        margin-top: -60px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}